@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --Eerie-black: hsl(0, 0%, 10%);
    --Timberwolf: #ced0ce;
    --Platinum: hsl(120, 4%, 91%);
    --White: hsl(0, 0%, 100%);
    --coquelicot: hsl(13, 88%, 55%);
}

* {
    margin: 0%;
    padding: 0%;
    font-family: "JetBrains Mono", monospace;
}

header {
    background: var(--Eerie-black);
    color: var(--Timberwolf);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 70px;
    width: 100%;
    box-shadow: 0px 0px 10px var(--Eerie-black);
}

.logo {
    width: 30%;
}

nav {
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.link-nav {
    color: var(--Timberwolf);
    text-decoration: none;
    padding: 5px;
    border-style: solid;
    border-width: 2px 0px;
    border-color: var(--Eerie-black);
}

.link-nav:hover {
    border-style: solid;
    border-width: 2px 0px;
    border-color: var(--coquelicot);
    color: var(--White);
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-uno {
    background: var(--Eerie-black);
    color: var(--Timberwolf);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
    width: 70%;
    box-shadow: 0px 0px 5px var(--Eerie-black);
    margin-top: 8%;
    border-radius: 6px;
}

.foto {
    background-image: url(/img/foto.jpg);
    background-size: cover;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.section-dos {
    margin-top: 5%;
    width: 70%;
    padding: 20px 0px;
}

.contenedor-proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.proyectos {
    display: flex;
    gap: 20px;
}

.titulo {
    color: var(--Eerie-black);
    border-style: ridge;
    border-width: 0px 0px 5px 0px;
    border-color: var(--coquelicot);
    border-radius: 6px;
    width: 150px;
    font-size: x-large;
}

.proyecto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: var(--Eerie-black);
    height: 300px;
    border-radius: 6px;
    color: var(--Timberwolf);
}

.tecnologia {
    width: 30px;
}

.contenedor-historia {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-top: 40px;
}

.historial {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}

#materia {
    background: var(--Eerie-black);
    color: var(--Timberwolf);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    gap: 10px;
    border-radius: 6px;
    margin-top: 40px;
    box-shadow: 0px 0px 5px var(--Eerie-black);
}

button {
    color: var(--Timberwolf);
    font-weight: bold;
    background: var(--Eerie-black);
    border-style: solid;
    width: 150px;
    padding: 5px 0px;
    border-color: var(--Eerie-black);
}

button:hover {
    border-color: var(--coquelicot);
    color: var(--White);
    border-width: 2px 0px;
    cursor: pointer;
}

.selected {
    background-color: #ccc;
    color: #333;
}
.textcontenido{
    text-align: center;
    width: 70%;
}
.botones-js{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    gap: 20px;
}
